*.suo
*.dat
*.crc
*.version
*.DS_Store
*/Thumbs.db
domains/aaronlademann.com/_ReSharper.aaronlademann.com/*
domains/portfolio.aaronlademann.com/html/portfolio-media/*
domains/portfolio.aaronlademann.com/html/.sass-cache/*
domains/aaronlademann.com/html/__dev/HTMLPage.htm