*.suo 
*.scssc
*/Thumbs.db
*.dat
*.crc
*.version
*.DS_Store
domains/aaronlademann.com/_ReSharper.aaronlademann.com/*
domains/portfolio.aaronlademann.com/html/portfolio-media/*
domains/aaronlademann.com/aaronlademann.com.suo
domains/aaronlademann.com/html/__dev/HTMLPage.htm
domains/portfolio.aaronlademann.com/html/wp-content/plugins/bwp-minify/cache*