/*---------------- @font-face declarations ----------------------*/
/*---------------- STANDARD ----------------*/
@font-face {
	font-family: "Helvetica_25_uLt";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd25-ultlt-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_25_uLt";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd25-ultlt-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd25-ultlt-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd25-ultlt-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: "Helvetica_35_Th";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd35-th-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_35_Th";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd35-th-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd35-th-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd35-th-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: "Helvetica_45_Lt";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd45-lt-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_45_Lt";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd45-lt-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd45-lt-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd45-lt-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: "Helvetica_55_Roman";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd55-roman-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_55_Roman";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd55-roman-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd55-roman-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd55-roman-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: "Helvetica_65_Md";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd65-md-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_65_Md";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd65-md-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd65-md-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd65-md-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_66_Md_I";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd66-md-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_66_Md_I";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd66-md-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd66-md-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd66-md-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_75_Bd";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd75-bd-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_75_Bd";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd75-bd-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd75-bd-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd75-bd-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_76_Bd_I";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd76-bd-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_76_Bd_I";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd76-bd-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd76-bd-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd76-bd-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_85_Hv";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd85-hv-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_85_Hv";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd85-hv-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd85-hv-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd85-hv-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

@font-face {
	font-family: "Helvetica_95_Blk";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd95-blk-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_95_Blk";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd95-blk-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd95-blk-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd95-blk-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

/*---------------- CONDENSED ----------------*/
@font-face {
	font-family: "Helvetica_27_uLt_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_27_uLt_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_27_uLt_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_27_uLt_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd27-ultlt-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_37_Th_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_37_Th_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_37_Th_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_37_Th_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd37-th-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_47_Lt_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_47_Lt_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_47_Lt_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_47_Lt_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd47-lt-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_57_Roman_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_57_Roman_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_57_Roman_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_57_Roman_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd57-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_67_Md_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_67_Md_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_67_Md_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_67_Md_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd67-md-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_77_Bd_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_77_Bd_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_77_Bd_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_77_Bd_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd77-bd-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_87_Hv_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_87_Hv_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_87_Hv_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_87_Hv_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd87-hv-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_97_Blk_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_97_Blk_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_97_Blk_Cn_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_97_Blk_Cn_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd97-blk-cn-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_107_ExtraBlack_Cn";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd107-xblk-cn-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_107_ExtraBlack_Cn";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd107-xblk-cn-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd107-xblk-cn-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd107-xblk-cn-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}

/*---------------- EXTENDED ----------------*/
@font-face {
	font-family: "Helvetica_23_uLt_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_23_uLt_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_23_uLt_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_23_uLt_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd23-ultlt-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_33_Th_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_33_Th_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_33_Th_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_33_Th_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd33-th-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_43_Lt_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_43_Lt_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_43_Lt_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_43_Lt_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd43-lt-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_53_Roman_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_53_Roman_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_53_Roman_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_53_Roman_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd53-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_63_Md_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_63_Md_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_63_Md_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_63_Md_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd63-md-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_73_Bd_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_73_Bd_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_73_Bd_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_73_Bd_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd73-bd-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_83_Hv_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_83_Hv_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_83_Hv_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_83_Hv_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd83-hv-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

@font-face {
	font-family: "Helvetica_93_Blk_Ex";
	src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-webfont.eot?iefix") format("eot");
	font-weight: normal;
	font-style: normal;
}
	@font-face {
		font-family: "Helvetica_93_Blk_Ex";
		src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-webfont.svg#svgFontName") format("svg");
		font-weight: normal;
		font-style: normal;
	}
		@font-face {
			font-family: "Helvetica_93_Blk_Ex_O";
			src: url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-o-webfont.eot?iefix") format("eot");
			font-weight: normal;
			font-style: normal;
		}
			@font-face {
				font-family: "Helvetica_93_Blk_Ex_O";
				src: url("http://:/") format("No-IE-404"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-o-webfont.woff") format("woff"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-o-webfont.ttf") format("truetype"), url("/includes/_webfonts/helvetica-nueve/Standard/helveticaneueltstd93-blk-ex-o-webfont.svg#svgFontName") format("svg");
				font-weight: normal;
				font-style: normal;
			}

/*---------------- style declarations ----------------------*/
/*																													*/ 
/*	<strong> and <b> tags will typically add 20 points			*/
/*	to the weight of any given font													*/
/*																													*/

.helvetica strong, .helvetica b, strong.helvetica, b.helvetica, strong .helvetica, b .helvetica { font-weight: normal; }

/* Roman */
.helvetica, .helvetica.roman, .helvetica .roman					{ font-family: "Helvetica_55_Roman"; }
	/* Bold */
	strong .helvetica, strong.helvetica, .helvetica strong, b .helvetica, b.helvetica, .helvetica b,
	strong .helvetica.roman, strong.helvetica.roman, .helvetica.roman strong, b .helvetica.roman, b.helvetica.roman, .helvetica.roman b,
	strong .helvetica, strong.helvetica, .helvetica strong, b .helvetica, b.helvetica, .helvetica b,
	strong .helvetica .roman, strong.helvetica .roman, .helvetica .roman strong, b .helvetica .roman, b.helvetica .roman, .helvetica .roman b,
	.helvetica.bd, .helvetica.bold,
	.helvetica .bd, .helvetica .bold		{ font-family: "Helvetica_75_Bd", Helvetica, Arial, sans-serif; }
		/* Bold Italic */
		.helvetica strong em, .helvetica em strong, .helvetica.roman strong em, .helvetica.roman em strong,
		.helvetica .roman strong em, .helvetica .roman em strong,
		strong em .helvetica, em strong .helvetica strong em.helvetica, em strong.helvetica,
		strong.helvetica em, em.helvetica strong,
		strong em .helvetica.roman, em strong .helvetica.roman, strong em.helvetica.roman, em strong.helvetica.roman,
		strong.helvetica.roman em, em.helvetica.roman strong,
		.helvetica b i, .helvetica i b, .helvetica.roman b i, .helvetica.roman i b,
		strong i .helvetica, i b .helvetica b i.helvetica, i b.helvetica,
		strong.helvetica i, i.helvetica b,
		strong i .helvetica.roman, i b .helvetica.roman, b i.helvetica.roman, i b.helvetica.roman,
		strong.helvetica.roman i, i.helvetica.roman b,
		.helvetica strong em, .helvetica em strong, .helvetica .roman strong em, .helvetica .roman em strong,
		strong em .helvetica, em strong .helvetica strong em.helvetica, em strong.helvetica,
		strong.helvetica em, em.helvetica strong,
		strong em .helvetica .roman, em strong .helvetica .roman, strong em.helvetica .roman, em strong.helvetica .roman,
		strong.helvetica .roman em, em.helvetica .roman strong,
		.helvetica b i, .helvetica i b, .helvetica .roman b i, .helvetica .roman i b,
		strong i .helvetica, i b .helvetica b i.helvetica, i b.helvetica,
		strong.helvetica i, i.helvetica b,
		strong i .helvetica .roman, i b .helvetica .roman, b i.helvetica .roman, i b.helvetica .roman,
		strong.helvetica .roman i, i.helvetica .roman b,
		.helvetica.bd.i, .helvetica.bold,
		.helvetica .bd.i, .helvetica .bold.i { font-family: "Helvetica_76_Bd_I", Helvetica, Arial, sans-serif; }
	
	/* specific weights */

	/* Ultra Light */
	.helvetica.ult, .helvetica.ultralight,
	.helvetica .ult, .helvetica .ultralight		{ font-family: "Helvetica_25_uLt", Helvetica, Arial, sans-serif; }
	/* Thin */
	.helvetica.thin, .helvetica.th,
	.helvetica .thin, .helvetica .th	{ font-family: "Helvetica_35_Th", Helvetica, Arial, sans-serif; }
		/* Thin + Strong (Roman = 35 + 20) */
		strong .helvetica.thin, strong.helvetica.thin, .helvetica.thin strong, b .helvetica.thin, b.helvetica.thin, .helvetica.thin b, 
		strong .helvetica.th, strong.helvetica.th, .helvetica.th strong, b .helvetica.th, b.helvetica.th, 
		.helvetica.th b,
		strong .helvetica .thin, strong.helvetica .thin, .helvetica .thin strong, b .helvetica .thin, b.helvetica .thin, .helvetica .thin b, 
		strong .helvetica .th, strong.helvetica .th, .helvetica .th strong, b .helvetica .th, b.helvetica .th, 
		.helvetica .th b								{ font-family: "Helvetica_55_Roman", Helvetica, Arial, sans-serif; }
	/* Light, Ultralight + Strong (25 + 20) */
	strong .helvetica.ult, strong.helvetica.ult, .helvetica.ult strong, b .helvetica.ult, b.helvetica.ult, .helvetica.ult b, 
	strong .helvetica.ultralight, strong.helvetica.ultralight, .helvetica.ultralight strong, b .helvetica.ultralight, b.helvetica.ultralight, .helvetica.ultralight b,
	strong .helvetica .ult, strong.helvetica .ult, .helvetica .ult strong, b .helvetica .ult, b.helvetica .ult, .helvetica .ult b, 
	strong .helvetica .ultralight, strong.helvetica .ultralight, .helvetica .ultralight strong, b .helvetica .ultralight, b.helvetica .ultralight, .helvetica .ultralight b,
	.helvetica.lt, .helvetica.light,
	.helvetica .lt, .helvetica .light		{ font-family: "Helvetica_45_Lt", Helvetica, Arial, sans-serif;  }
	/* Medium, Light + Strong (45 + 20) */
	strong .helvetica.lt, strong.helvetica.lt, .helvetica.lt strong, b .helvetica.lt, b.helvetica.lt, .helvetica.lt b, 
	strong .helvetica.light, strong.helvetica.light, .helvetica.light strong, b .helvetica.light, b.helvetica.light, .helvetica.light b,
	strong .helvetica .lt, strong.helvetica .lt, .helvetica .lt strong, b .helvetica .lt, b.helvetica .lt, .helvetica .lt b, 
	strong .helvetica .light, strong.helvetica .light, .helvetica .light strong, b .helvetica .light, b.helvetica .light, .helvetica .light b,
	.helvetica.md, .helvetica.medium,
	.helvetica .md, .helvetica .medium		{ font-family: "Helvetica_65_Md", Helvetica, Arial, sans-serif; }
		/* Medium Italic */
		em .helvetica.md, em.helvetica.md, .helvetica.md em, i .helvetica.md, i.helvetica.md, .helvetica.md i, 
		em .helvetica.medium, em.helvetica.medium, .helvetica.medium em, i .helvetica.medium, i.helvetica.medium, .helvetica.medium i,
		em .helvetica .md, em.helvetica .md, .helvetica .md em, i .helvetica .md, i.helvetica .md, .helvetica .md i, 
		em .helvetica .medium, em.helvetica .medium, .helvetica .medium em, i .helvetica .medium, i.helvetica .medium, .helvetica .medium i,
			/* Strong Light Italic */
			em strong .helvetica.lt, em strong.helvetica.lt, em .helvetica.lt strong, em b .helvetica.lt, em b.helvetica.lt, em .helvetica.lt b, 
			em strong .helvetica.light, em strong.helvetica.light, em .helvetica.light strong, em b .helvetica.light, em b.helvetica.light, em .helvetica.light b,
			strong .helvetica .lt em, strong.helvetica .lt em, .helvetica .lt strong em, b .helvetica .lt em, b.helvetica .lt em, .helvetica .lt b em, 
			strong .helvetica .light em, strong.helvetica .light em, .helvetica .light strong em, b .helvetica .light em, b.helvetica .light em, .helvetica .light b em,
			strong em .helvetica.lt, strong em.helvetica.lt, em .helvetica.lt strong, b em .helvetica.lt, b em.helvetica.lt, em .helvetica.lt b, 
			strong em .helvetica.light, strong em.helvetica.light, strong .helvetica.light em, b em .helvetica.light, b em.helvetica.light, b .helvetica.light em,
			em .helvetica .lt strong, em.helvetica .lt strong, .helvetica .lt em strong, em .helvetica .lt b, em.helvetica .lt b, .helvetica .lt em b, 
			em .helvetica .light strong, em.helvetica .light strong, .helvetica .light em strong, em .helvetica .light b, em.helvetica .light b, .helvetica .light em b,
			/**/
			i strong .helvetica.lt, i strong.helvetica.lt, i .helvetica.lt strong, i b .helvetica.lt, i b.helvetica.lt, i .helvetica.lt b, 
			i strong .helvetica.light, i strong.helvetica.light, i .helvetica.light strong, i b .helvetica.light, i b.helvetica.light, i .helvetica.light b,
			strong .helvetica .lt i, strong.helvetica .lt i, .helvetica .lt strong i, b .helvetica .lt i, b.helvetica .lt i, .helvetica .lt b i, 
			strong .helvetica .light i, strong.helvetica .light i, .helvetica .light strong i, b .helvetica .light i, b.helvetica .light i, .helvetica .light b i,
			strong i .helvetica.lt, strong i.helvetica.lt, i .helvetica.lt strong, b i .helvetica.lt, b i.helvetica.lt, i .helvetica.lt b, 
			strong i .helvetica.light, strong i.helvetica.light, strong .helvetica.light i, b i .helvetica.light, b i.helvetica.light, b .helvetica.light i,
			i .helvetica .lt strong, i.helvetica .lt strong, .helvetica .lt i strong, i .helvetica .lt b, i.helvetica .lt b, .helvetica .lt i b, 
			i .helvetica .light strong, i.helvetica .light strong, .helvetica .light i strong, i .helvetica .light b, i.helvetica .light b, .helvetica .light i b,
		.helvetica.md.i, .helvetica.medium.i,
		.helvetica .md.i, .helvetica .medium.i { font-family: "Helvetica_66_Md_I", Helvetica, Arial, sans-serif; }
	/* Heavy, Medium + Strong (65 + 20) */
	strong .helvetica.md, strong.helvetica.md, .helvetica.md strong, b .helvetica.md, b.helvetica.md, .helvetica.md b, 
	strong .helvetica.medium, strong.helvetica.medium, .helvetica.medium strong, b .helvetica.medium, b.helvetica.medium, .helvetica.medium b,
	strong .helvetica .md, strong.helvetica .md, .helvetica .md strong, b .helvetica .md, b.helvetica .md, .helvetica .md b, 
	strong .helvetica .medium, strong.helvetica .medium, .helvetica .medium strong, b .helvetica .medium, b.helvetica .medium, .helvetica .medium b,
	.helvetica.hv, .helvetica.heavy,
	.helvetica .hv, .helvetica .heavy		{ font-family: "Helvetica_85_Hv", Helvetica, Arial, sans-serif; }
	/* Black, Bold + Strong (75 + 20) */
	strong .helvetica.bd, strong.helvetica.bd, .helvetica.bd strong, b .helvetica.bd, b.helvetica.bd, .helvetica.bd b, 
	strong .helvetica.bold, strong.helvetica.bold, .helvetica.bold strong, b .helvetica.bold, b.helvetica.bold, .helvetica.bold b,
	strong .helvetica .bd, strong.helvetica .bd, .helvetica .bd strong, b .helvetica .bd, b.helvetica .bd, .helvetica .bd b, 
	strong .helvetica .bold, strong.helvetica .bold, .helvetica .bold strong, b .helvetica .bold, b.helvetica .bold, .helvetica .bold b,
	.helvetica.blk, .helvetica.blackweight,
	.helvetica .blk, .helvetica .blackweight		{ font-family: "Helvetica_95_Blk", Helvetica, Arial, sans-serif; }
	