DirectoryIndex index.asp

AddType text/x-component .htc

Options +Includes
AddHandler server-parsed .shtml .html .htm .asp .php

# BEGIN REQUIRED FOR WEBFONTS

	AddType font/ttf .ttf
	AddType font/eot .eot
	AddType font/otf .otf
	AddType font/woff .woff

	<FilesMatch "\.(ttf|otf|eot|woff)$">
		<IfModule mod_headers.c>
			Header set Access-Control-Allow-Origin "*"
		</IfModule>
	</FilesMatch>

# END REQUIRED FOR WEBFONTS

Redirect 301 /index.html http://portfolio.aaronlademann.com/
Redirect 301 /index.asp http://portfolio.aaronlademann.com/

Redirect 301 /portfolio.html http://portfolio.aaronlademann.com/
Redirect 301 /portfolio/index.asp http://portfolio.aaronlademann.com/
Redirect 301 /BBtable.html http://aaronlademann.com/_old/BBtable.html
Redirect 301 /BBtable_all.html http://aaronlademann.com/_old/BBtable_all.html
Redirect 301 /mizzouBballComparisons.html http://aaronlademann.com/_old/mizzouBballComparisons.html
Redirect 301 /RRtable.html http://aaronlademann.com/_old/RRtable.html

Redirect 301 /aboutme.html http://portfolio.aaronlademann.com/resume/
Redirect 301 /about/index.asp http://portfolio.aaronlademann.com/resume/
Redirect 301 /files/Lademann_Resume_0208.pdf http://portfolio.aaronlademann.com/resume/
Redirect 301 /files/Lademann_Resume_0409.pdf http://portfolio.aaronlademann.com/resume/
Redirect 301 /files/Lademann_Resume_0409-c.pdf http://portfolio.aaronlademann.com/resume/
