@mixin hide_wp_adminbar(){
	#wpadminbar { display: none !important; }
}

// prevent flickering on dynamic js resize
html { overflow-x: hidden !important; }
.noscroll { overflow: hidden; overflow-y: hidden; } 

/* elements that DEPEND on JAVASCRIPT to appear in context */
.js {
	
	.opaque {
		@extend .trans;
		@include opacity(1);
	}

	.single {
		
		// we'll "fade" these in using .js
		.like-count > a, .pagination.thumbs, .slides_container > img,
		.slider .lightbox img, .slider .lightbox .caption {
			@extend .trans;
			@extend .tt_linear;
			@extend .tp_alpha;
			@include opacity(0);
			&.opaque {
				@extend .opaque;
			}
		}

		// loading indicator... show immediately... and visible class for other items
		.slides_container > img {
			@extend .opaque;
		}

	} // END .single

} // END .js

.bold, .strong, .bold *, .strong * { font-weight: bold !important; }