@mixin clearfix() {
// For clearing floats like a boss h5bp.com/q
	*zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
@mixin hide_wp_adminbar(){
	#wpadminbar { display: none !important; }
}
// prevent flickering on dynamic js resize
html { overflow-x: hidden !important; }
.noscroll { overflow: hidden; overflow-y: hidden; } 