//@import "theme-aa-base"; 
//@include yui_core();

//@include webfont_src("droidserif/DroidSerif-Regular-webfont","DroidSerifRegular");
//@include webfont_src("droidserif/DroidSerif-Italic-webfont","DroidSerifItalic");
//@include webfont_src("droidserif/DroidSerif-Bold-webfont","DroidSerifBold"); 
//@include webfont_src("droidserif/DroidSerif-BoldItalic-webfont","DroidSerifBoldItalic");

@media screen {

	#resume {
		
		// RESET & BASE GLOBALS
		dl, dd, ul, ol, li { list-style: none; padding-left: 0; margin-left: 0;}
		&> header, &> section, &> footer { padding: $fluidGridGutterWidth; }
		.row-fluid > [class^="span"] {
			p {
				padding-right: 3em;
			}
			
			:last-child p {
				padding-right: 0;
			}
		}
		.serif { @include droid-serif-italic; }
		a { 
			color: $textColor; 
			:hover {
				text-decoration: none;
				color: $linkColorHover;
			}
		}
		.job a { color: $linkColor; 
			:hover { color: $linkColorHover; }
		}
		// END RESET

		#hd {
			margin: 0 0 1.8em;
			padding-bottom: 1.5em;
			position: relative;

			h1 {
				@include chunkfive;
				font-size: 3.9em;
				letter-spacing: -1px;
				margin-bottom: .4em;
				line-height: normal;

				.meta {
					// part of h1 containing the stuff bots want to see
					position: absolute;
					text-indent: -999em;
				}
			}
			#headline {
				letter-spacing: 1px;
			}
			h2, h3, h4, .h2, .h3, .h4 { text-transform: uppercase; }

			.contact-info { 
				margin-top: 0;
				text-align: right;

				h3, .h3 {	
					font-weight: normal !important; 
				}

				#pdf {
					padding: 4px;
					//margin: -$fluidGridGutterWidth 0 ($fluidGridGutterWidth * 3) 0;
					@include border-radius(3px);
					@include rgba_bg(#9b9b9b, 0.1);
					@include float(right);
					.rgba & {
						@include box-shadow(0 0 4px 0 rgba($black,0.2) inset);
					} 
					.no-rgba & {
						@include box-shadow(0 0 4px 0 ie-hex-str(rgba($black,0.2)) inset);
					}
					
					a {
						$pdfIcon: 'icons/pdf_28.png';
						$iconW: image-width($pdfIcon);
						$iconH: image-height($pdfIcon) / 2;
						background: transparent image-url($pdfIcon) 2px top no-repeat;
						display: block;
						//@include float(right);
						padding: 0 12px 0 ($iconW + 10);
						margin-left: 0;
						height: $iconH;
						font-weight: bold;
						text-decoration: none;  

						&:hover {
							background-position: 2px bottom;
						}
					} // END #pdf a

				} // END #pdf

			} // END .contact-info
		} // END #hd


		// horizontal line separators
		#hd, #bd, #bd > details, .job, li {
			border-bottom: 1px solid $chiselLight;
			@include box-shadow(0 1px 0 0 $chiselDark);
			
			&.well {
				// if one or more of these elems also has .well as a class
				// we want the well appearance to override
				@extend .well;
			}
		}
		#bd > details, .job, li {
			:last-child {
				border-bottom: 0 none;
				@include box-shadow(none);
			}
		}
		#ft {
			border-top: 1px solid rgba($white,0.8);
			font-size: 92%;
			padding: 1em 0pt 5em;
			text-align: center;
		}

		.job li, .skillset li, .toolbox li {
			padding: 0 .9em;
			font-size: 0.923em;
			line-height: pxtoem("24px", $baseFontSize);
		}
		
		//.job .intro { margin-top: -1em; }
		//.job .folio_link { position: relative;top: -1em; }

		#ft {
			&, p {
				font-size: 0.923em;
				padding: 1em 0 5em 0;
				margin: 0;
				text-align: center;
			}
		}


		summary.h2 {
			// details section title
			cursor: pointer;
			color: $almostBlack;
		}
//		#bd > details.well {
//			overflow: hidden; // so the inverse-well effect will get "clipped" making it appear flush to the body
//			summary.h2 { 
//				.inner {
//					// cover up the inner shadow of the well
//					background: $body_bgcolor $body_bgImg left top repeat;
//					@extend .inverse-well;
//					@include border-corner-radius(bottom, right, $wellCornerRadius);
//				}
//				// when the summary stacks atop the description
//					@media (max-width: 767px) { 
//						.inner {
//							@extend .inverse-well-stacked;
//							@include border-corner-radius(bottom, right, 0);
//						}
//						line-height: normal;
//					} // END @media
//			}
//		} // END details.well


		.enlarge {
			font-size: 1.12em;
			line-height: 1.5em;
		} // END .enlarge

		#profile .enlarge em, #profile .enlarge dt { 
			@extend .serif; 
			color: $black;
			font-style: normal;
		}
		
		#profile .enlarge em, #profile .enlarge dt, #profile .enlarge dd { display: inline !important; }	

		

		

//		.job {
//			margin-bottom: 2em;
//			padding-bottom: 1em;
//			padding-top: 4px;
//			position: relative;
//		}
//		.job h2, .job .h2 {
//			margin-bottom: .5em;
//		}
//		.job .h3 {
//			margin-bottom: 2em;
//		}
//		.job .h3 strong {
//			letter-spacing: -1px;
//		}
//		.job p {
//			margin: 0.75em 0pt 1.25em;
//		}
//		.job p:last-child {
//			margin-bottom: 2.75em;
//		}
//		.job p.h2, .job p.h3, .job p.h4 {
//			margin: 0 0 1em 0;
//		}
//
//		.last {
//			border: medium none;
//			border-bottom: 0pt none;
//			-moz-box-shadow: 0 0 0 transparent;
//			-webkit-box-shadow: 0 0 0 transparent;
//			box-shadow: 0 0 0 transparent;
//		}
//
//		.skills-list {
//		}
//
//		.skills-list ul {
//			margin: 0pt;
//		}
//
//		.skills-list li {
//			margin: 3px 0pt;
//			padding: 3px 0pt;
//		}
//
//		.skills-list li span {
//			display: block;
//			font-size: 152%;
//			margin-bottom: -2px;
//			padding: 0pt;
//		}
//
//		.talent h2, .talent .h2, .third h2, .third .h2, .half h2, .half .h2 {
//			font-size: 1.4em;
//			margin-bottom: 6px;
//		}

	} // END #resume


} // END @media screen

@media print {
	* { text-shadow: none !important; }
	#masthead, #footer, #pdf { display: none !important; }
	#content, #contentWrap, #resume, #resume #inner { margin: 0;padding: 0;top: 0; }
	body { margin: 3%; }
	body, #content, #contentWrap, #resume, #resume #doc2, #resume #doc2 #inner { width: 94%; }
	#resume { margin-top: .7in;} 

	#skills, #education { page-break-before: always; }
}  // END @media print