//@import "theme-aa-base"; 
//@include yui_core();

//@include webfont_src("droidserif/DroidSerif-Regular-webfont","DroidSerifRegular");
//@include webfont_src("droidserif/DroidSerif-Italic-webfont","DroidSerifItalic");
//@include webfont_src("droidserif/DroidSerif-Bold-webfont","DroidSerifBold"); 
//@include webfont_src("droidserif/DroidSerif-BoldItalic-webfont","DroidSerifBoldItalic");

@media screen {

	#resume {
		
		#contentWrap & { top: 30px; }

		p, & {
			color: #333;
			font-size: 1.01em;
			line-height: 1.5em;
			font-family: 'Lucida Sans Unicode' , Helvetica, Arial, Sans-Serif;
		}

		& h1, & .h1, & h2, & .h2, & h3, & .h3, & p.h3, & h4, & .h4 {
			padding: 0;
			padding-right: 0 !important;
			margin: 0;
			@include single-text-shadow;
		}

		& #hd h1 {
			font-family: 'ChunkFiveWeb' ,Arial,Helvetica,sans-serif;
			font-size: 3.9em;
			font-weight: normal;
			letter-spacing: -1px;
			margin-bottom: .4em;
			line-height: normal;
		}

		& h2, & .h2, & h3, & .h3, & h4, & .h4 {
			font-family: Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-weight: bold !important;
			font-style: normal;
			letter-spacing: normal;
			color: #111;
		}
		& .contact-info .h3 {
			font-weight: normal !important;
		}
		& h2, & .h2, & .job h3.h2 {
			font-size: 1.5em;
			clear: both;
		}
		& .first h2, & .first .h2, & h3, & .h3, & p.h3 & .serif, & em.serif {
			font-family: 'DroidSerifItalic' ,Georgia,Times,Serif;
			text-transform: none;
			font-weight: normal !important;
			font-style: normal !important;
		}
		& .first h2, & .first .h2 {
			font-size: 1.5em;
			color: #111;
		}

		& dt.h2 {
			padding-top: 1em;
		}
		& dt.h2:first-child {
			padding-top: 0;
		}

		& #hd h3, & #hd .h3 {
			font-family: inherit;
			text-transform: none;
		}

		& h3, & .h3 {
			font-size: 1.2em;
			margin-top: .2em;
		}
		& .job h3, & .job .h3 {
			font-size: 1.12em;
		}
		& h4, & .h4 {
			font-size: 1.12em;
			clear: both;
		}


		& p {
			padding-right: 3em;
		}
		& .last p, & p.last {
			padding-right: 0;
		}

		& p.enlarge {
			font-size: 1.12em;
			line-height: 1.5em;
		}

		& p.enlarge em {
			color: #000000;
			font-style: normal;
		}


		& .msg {
			background: none repeat scroll 0% 0% #222222;
			padding: 10px;
			position: relative;
		}

		& .msg h1 {
			color: #FFFFFF;
		}

		& .msg a {
			background: none repeat scroll 0% 0% #408814;
			color: white;
			margin-left: 20px;
			padding: 4px 8px;
			text-decoration: none;
		}

		& .msg a:hover {
			background: none repeat scroll 0% 0% #266400;
		}

		& #inner {
			margin: 0pt auto;
			padding: 10px 80px;
		}

		ul, dl, dd { margin-left: 0; list-style: none; }

		& .yui-gf, & #hd, & .job, & li {
			border-bottom: 1px solid rgba(178,178,178,0.6);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
			box-shadow: 0 1px 0 rgba(255,255,255,0.8);
		}
		& .job li, & .skillset li, & .toolbox li {
			border-bottom: 1px solid rgba(178,178,178,0.3);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4);
			box-shadow: 0 1px 0 rgba(255,255,255,0.4);
			padding: 0 10px;
			font-size: .9em;
		}
		& .job li:last-child, & .job:last-child, & li:last-child {
			border-bottom: 0 none;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}
		& .job dd.intro { margin-top: -1em; }
		& .job .folio_link { position: relative;top: -1em; }

		& #ft {
			border-top: 1px solid rgba(255,255,255,0.8);
			padding: 2em 0;
		}
		& #bd {
			border-bottom: 1px solid rgba(178,178,178,0.6);
		}


		& .yui-gf {
			margin-bottom: 2em;
			padding-bottom: 2em;
		}

		& #ft {
			font-size: 92%;
			padding: 1em 0pt 5em;
			text-align: center;
		}

		.job li, .skillset li, .toolbox li {
			padding: 0 .9em;
			font-size: 0.923em;
			line-height: pxtoem("24px", $baseFontSize);
		}
		
		//.job .intro { margin-top: -1em; }
		//.job .folio_link { position: relative;top: -1em; }

		#ft {
			&, p {
				font-size: 0.923em;
				padding: 1em 0 5em 0;
				margin: 0;
				text-align: center;
			}
		}


		summary.h2 {
			// details section title
			cursor: pointer;
			color: $almostBlack;
		}
//		#bd > details.well {
//			overflow: hidden; // so the inverse-well effect will get "clipped" making it appear flush to the body
//			summary.h2 { 
//				.inner {
//					// cover up the inner shadow of the well
//					background: $body_bgcolor $body_bgImg left top repeat;
//					@extend .inverse-well;
//					@include border-corner-radius(bottom, right, $wellCornerRadius);
//				}
//				// when the summary stacks atop the description
//					@media (max-width: 767px) { 
//						.inner {
//							@extend .inverse-well-stacked;
//							@include border-corner-radius(bottom, right, 0);
//						}
//						line-height: normal;
//					} // END @media
//			}
//		} // END details.well


		.enlarge {
			font-size: 1.12em;
			line-height: 1.5em;
		} // END .enlarge

		#profile .enlarge em, #profile .enlarge dt { 
			@extend .serif; 
			color: $black;
			font-style: normal;
		}
		
		#profile .enlarge em, #profile .enlarge dt, #profile .enlarge dd { display: inline !important; }	

			margin-left: 0;
		

		

//		.job {
//			margin-bottom: 2em;
//			padding-bottom: 1em;
//			padding-top: 4px;
//			position: relative;
//		}
//		.job h2, .job .h2 {
//			margin-bottom: .5em;
//		}
//		.job .h3 {
//			margin-bottom: 2em;
//		}
//		.job .h3 strong {
//			letter-spacing: -1px;
//		}
//		.job p {
//			margin: 0.75em 0pt 1.25em;
//		}
//		.job p:last-child {
//			margin-bottom: 2.75em;
//		}
//		.job p.h2, .job p.h3, .job p.h4 {
//			margin: 0 0 1em 0;
//		}
//
//		.last {
//			border: medium none;
//			border-bottom: 0pt none;
//			-moz-box-shadow: 0 0 0 transparent;
//			-webkit-box-shadow: 0 0 0 transparent;
//			box-shadow: 0 0 0 transparent;
//		}
//
//		.skills-list {
//		}
//
//		.skills-list ul {
//			margin: 0pt;
//		}
//
//		.skills-list li {
//			margin: 3px 0pt;
//			padding: 3px 0pt;
//		}
//
//		.skills-list li span {
//			display: block;
//			font-size: 152%;
//			margin-bottom: -2px;
//			padding: 0pt;
//		}
//
//		.talent h2, .talent .h2, .third h2, .third .h2, .half h2, .half .h2 {
//			font-size: 1.4em;
//			margin-bottom: 6px;
//		}

	} // END #resume


} // END @media screen

@media print {
	* { text-shadow: none !important; }
	#masthead, #footer, #pdf { display: none !important; }
	#content, #contentWrap, #resume, #resume #inner { margin: 0;padding: 0;top: 0; }
	body { margin: 3%; }
	body, #content, #contentWrap, #resume, #resume #doc2, #resume #doc2 #inner { width: 94%; }
	#resume { margin-top: .7in;} 

	#skills, #education { page-break-before: always; }
}  // END @media print