/*---------------- aaronlademann.com TEMPLATE ----------------*/
body {
	&, & * { -webkit-font-smoothing: antialiased; }
	background-position: left top;
	background-repeat: repeat;
}
.navbar-fixed-top .brand {
	padding: 0 5px 0 70px;
	font-size: 20px;
	font-family: "Helv63";
	text-transform: lowercase;
	@include transition-duration(.2s);
	@include transition-timing-function(linear);
	@include transition-property(color);
	@include transition-property(text-shadow);

	&:hover {
		text-decoration: none !important;
	}

}

.masonry {
	
	.masonry-brick {
		//border-style: solid;
		//border-width: 1px;

		footer, .footer {
			border-top-style: solid;
			border-top-width: 1px;
		}
		img {
			border-bottom-style: solid;
			border-bottom-width: 1px;
		}
		figcaption, .figcaption {
			width: 100%;
			padding-bottom: 3px; // to fill up the space given
		}

		.arrow { display: none; }
	}
}

#footer {
	display: none;
	@include background-image(linear-gradient($grayDarker, $gray)); 
	z-index: 900;
	position: fixed;
	bottom: 0;
	height: $aa_footHeight;
	font-size: 11px; // TODO: convert to ems

	#copyright {
		color: lighten($gray, 50%);
		line-height: $aa_footHeight; // center vertically
	}

} // END #footer

// degrade the #masthead and #footer bg gradients gracefully
//.no-gradient #masthead, .no-gradient #footer { background: $grayDarker; }

// ICONS

// global external link style
a[rel="external"], a.external, a[target="blank"],
#resume .folio_link {  
	&:after {
		font-family: "FontAwesome";
		content: $icon-external-link;
		color: lighten($textColor,35%);
		margin-left: 4px;
	}
	&:hover:after {
		color: $linkColorHover;
		text-decoration: none !important;
	}
}
#resume .folio_link .icon { display: none; } // already placing the icon directly after using :after.

.entry-header, .entry-meta {
	
	li {
		list-style: none;
	}
}
.masonry-brick .entry-meta, .footer .entry-meta {
	.icon {
		margin-right: 4px;

		&:before { 
			font-size: 1.3em; 
		}
	}
}
// specific icons
.like-count, .published, .comment-count, .folio_link .icon, a .overlay {
	.icon:before { 
		font-family: "FontAwesome"; 
	}
	&:hover .icon, .icon:hover {
		color: $linkColorHover;
		text-decoration: none !important;
	}
}
.arrow { font-family: "FontAwesome"; }

.like-count {	
	.icon:before {
		content: $icon-heart; 
	}
	a.active, a:hover {
		
		&, &:before, &.icon:before, .icon:before {
			color: $likeItColor !important;
		}
	}
}
.published .icon:before { content: $icon-calendar; }
.comment-count .icon:before { content: $icon-comments; }
a .overlay .icon:before { content: $icon-search; }

.line { 
	border-width: 1px 0;
	border-style: solid none; 
}
//	.entry-meta ul, .entry-meta ul ul, .entry-meta ul ul ul, .entry-meta ul ul ul ul, .entry-meta ul ul ul ul ul { clear: left; }
//	.widget-title { margin: 10px 0 4px 0; font-weight: bold; }
//	.widget-title.first { margin-top: 0; }


@mixin aa_light {
	$light_bgcolor: #eeeeee;
	body {
		background-color: $light_bgcolor;
		background-image: image-url("gridlocked/light/bg_pattern_gray_leather_subtler.png");
	}

	.navbar-fixed-top .brand {
		color: #000;
		background: image-url("aa-symbol_button.png") left top no-repeat;
		@include text-shadow(
			rgba(white, 0.1) 0 1px 0, 
			rgba(white, 0.125) 0 0 30px
		); 

		&:hover {
			background-position: left bottom;
			color: #ddd !important;
			//text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.525);
			@include text-shadow(
				rgba(black, 0.5) 0 3px 0, 
				rgba(black, 0.525) 0 0 30px
			); 
		}

	} // END .navbar-fixed-top .brand

	.comment-body p, #load-more-link a, .hentry, 
	.masonry-brick, .masonry-brick .entry-meta a,
	.folio_link .icon, 
	.masonry-brick .entry-meta .icon:before { color: lighten($gray,10%); }

	.masonry {
	
		.masonry-brick {
			$entryMeta_border: rgba(100, 100, 100, 0.1);
			// create "well" effect
			$inset_shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4) inset;
			$edge_shadow: 0 2px 0 rgba(255, 255, 255, 0.7);

			$inset_shadow_hover: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
			$edge_shadow_hover: 0 2px 0 rgba(255, 255, 255, 1.0); 

			//border-color: transparent;

			@include rgba_bg(#cccccc, 0.2);
			@include box-shadow($edge_shadow);
			.wellOverlay {
				@include box-shadow($inset_shadow);
			}

				img {
					border-bottom-color: lighten($entryMeta_border,50%);
					@include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.15));
				}
				figcaption, .figcaption {
					@include rgba_bg(#000000, 0.05);
						.entry-title {
				
							a {
								color: $textColor;
							}
						}
				}
				.post-thumb {
					@include rgba_bg(#000000, 0.05); // just incase the thumbnail image isn't the same size as its container...
				}
				footer, .footer {
					@include rgba_bg(#000000, 0.05);
					border-top-color: $entryMeta_border;
				}
				


			// HOVER
			&.hover {
				@include rgba_bg(#ffffff, 0.9);
				@include box-shadow($edge_shadow_hover);
				.wellOverlay{
					@include box-shadow($inset_shadow_hover);
				}
				figcaption, .figcaption {
					
					.entry-title a, .entry-title a:hover {
						color: $linkColor;
					}
				}
			} // END .masonry-brick.hover
			

			// no rgba support
			.no-rgba & {

					img {
						border-bottom-color: ie-hex-str(lighten($entryMeta_border,50%));	
					}
					footer, .footer {
						border-top-color: ie-hex-str($entryMeta_border);	
					}
					
			}

		}
	} // END .masonry


	/* Infinite Scroll loader */
	#infscr-loading { 
		text-align: center;
		z-index: 100;
		position: fixed;
		left: 45%;
		bottom: 40px;
		width: 200px;
		padding: 10px;
		background: #000; 
		opacity: 0.8;
		color: #FFF;
		-webkit-border-radius: 10px;
			 -moz-border-radius: 10px;
						border-radius: 10px;
	}


	.slider a img.jpg, .slider a img.jpeg, .slider a img.tif, .slider a img.tiff {
		@include single-box-shadow();
		-webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.50);
			 -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
    			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
	}


	.single .hentry { background-color: transparent; }

	#tagline {
		color: $grayMedium;
	}

	.overlay {
		
		// opacity supported.
		.rgba & {
			@include rgba_bg($grayDarker, 0.8);
		}
		// opacity not supported.
		.no-rgba & {
			background: transparent image-url("gridlocked/light/bg_pattern_gray_leather_subtler.png") left top repeat;
		}

	} // END .overlay

	.line { 
		.rgba & {
			border-bottom-color: rgba(0,0,0,.1); 
			border-top-color: rgba(255,255,255,.4);
		}
		.no-rgba & {
			border-bottom-color: ie-hex-str(rgba(0,0,0,.1)); 
			border-top-color: ie-hex-str(rgba(255,255,255,.4));
		}
	}

} // END aa_light mixin