// mostly old styles from the 2009 version of aaronlademann.com
// preserved here in mixins that are mostly unused for reference only.

@mixin aa_base_home(){
	
	/* CONTENT AREA TEMPLATES */
		#contentWrap {
			min-height: 470px;
			height: auto;
			width: 100%;
			position: absolute;
			top: 80px;
			padding-top: 33px;
		}
		*html #contentWrap { height: 400px; }
		#hero {
			width: 958px;
			height: 400px;
			/*background-color: Red;*/
		}
		#hero .feature, #hero .callout {
			position: absolute;
			left: 0;
			top: 0;
			/*background-color: Green;*/
		}
		#hero .feature {
			width: 567px;
			height: 386px;
			left: -7px;
		}
		#hero .callout {
			width: 418px;
			height: auto;
			left: 560px;
		}
		.content {
			position: relative;
			height: auto;
			/* center horizontally */
			width: 958px; /* 998px */
			padding: 0 20px;
			left: 50%;
			margin-left: -499px;
			/*background-color: Blue;*/
		}
		hr.contentDivider {
			width: 958px;
			height: 60px;
			/*position: relative;
			z-index: 1;*/
			left: 0;
			top: 0;
			/*background: image-url("section-shade.png") -20px top no-repeat;*/
			border: 0 none;
			margin: 0;
			color: Transparent;
			margin-bottom: -30px;
		}
		.section {
			width: 100%;
			position: relative;
			min-height: 200px;
			height: auto;
			/*background: image-url("section.png") left top repeat-x;*/
		}
		*html .section { height: 200px; }
		.project .desc { padding: 0 2% 50px 2%; }
		.projectThumb {
			display: block;
			position: relative;
			width: 280px;
			height: 102px;
			background: image-url("feature-thumbnail.png") left bottom no-repeat;
		}
		.projectThumb:hover { background-position: left top; }
		.projectThumb img {
			border: 0 none;
			outline: 0;
			position: absolute;
			left: 9px;
			bottom: 9px;
		}
		/* buttons */
		.btn {
			display: block;
			padding: 12px 20px;
			height: 10px;
			line-height: 10px;
			width: auto;
			text-transform: uppercase;
			border: 1px solid #e8e8e8;
			background: Transparent image-url("btn-gray.png") left bottom repeat-x;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
		}
		.btn:hover {
			border: 1px solid #bfbfbf;
			background-position: left top;
			text-decoration: none;
		}

}

@mixin aa_base_typography(){
	
	/* TYPE */
		a.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
		a[rel="external"], a.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 50%; zoom: 1; }
		strong, b { font-weight: bold; }
		.large strong, strong.blue { font-weight: normal; color: #1550a1; }

		em, i { font-style: italic; }
		sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
		abbr { border: 0; }
		.sosumi { font-size: 10px !important; color:#76797c; }

		h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: Black; display: block; letter-spacing: -1px; }
		h1, .h1 { font-weight: normal !important; font-size: 46px; margin-bottom: 24px; margin-top: 5px; letter-spacing: -2px; }
		h2, .h2 { font-weight: normal !important; font-size: 36px; margin-bottom: 24px; }
		h3, .h3 { font-weight: normal !important; font-size: 24px; margin-bottom: 24px; text-transform: lowercase; }
		h4, .h4 { font-weight: normal; font-size: 15px; margin-bottom: 0; line-height: 18px; letter-spacing: normal; }
		.large { font-size: 17px; line-height: 24px; }
		p.large { margin-bottom: 20px; }
		p.intro { font-weight: bold; }
		.more { text-align: right; }
		.light { color: #cbcbcb; }

		ul { margin-bottom: 18px; list-style: none outside; }
		ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
		ul.square,
		ul.circle { margin-left: 2em; }
		ul.square { list-style: square outside; }
		ul.circle { list-style: circle outside; }
		ul ul.circle,
		ul ul.square { margin-top: 4px; margin-bottom: 5px; }
		ol.sosumi { margin-left: 0; padding-left: 2em; }	

}

@mixin aa_base_print(){
	
	/* PRINT */
	@media print {
		body, #main, #content { color: #000 !important; }
		#masthead h1, #masthead h2 { text-indent: 0; }
		a, a:link, a:visited { color: #000 !important; text-decoration:none !important; }
		#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
		#main a.pdf, #main a.html, #main a.qt, #main a.ical, #main a.dl, #main a.dmg, #main a.zip, #main a.keynote, #main a.audio { padding-left: 0 !important; background-image: none !important; }
	} // end @media print


} // end mixin aa_base_print()

@mixin yui_core() {
/* YUI CORE STYLES */
	#resume {
		 #doc,  #doc2,  #doc3,  #doc4,  .yui-t1,  .yui-t2,  .yui-t3,  .yui-t4,  .yui-t5,  .yui-t6,  .yui-t7
		{
			margin:auto;
			text-align:left;
			width:57.69em;
		*width:56.25em;
		}
		 #doc2 { width:73.076em; *width:71.25em;
		}
		 #doc3
		{
			margin:auto 10px;
			width:auto;
		}
		 #doc4 { width:74.923em; *width:73.05em;
		}
		 .yui-b { position:relative; }
		 .yui-b { _position:static; }
		 #yui-main .yui-b { position:static; }
		 #yui-main,  .yui-g .yui-u .yui-g { width:100%; }
		 .yui-t1 #yui-main,  .yui-t2 #yui-main,  .yui-t3 #yui-main
		{
			@include float(right);
			margin-left:-25em;
		}
		 .yui-t4 #yui-main,  .yui-t5 #yui-main,  .yui-t6 #yui-main
		{
			@include float(left);
			margin-right:-25em;
		}
		 .yui-t1 .yui-b
		{
			@include float(left);
			width:12.30769em;
		*width:12.00em;
		}
		 .yui-t1 #yui-main .yui-b { margin-left:13.30769em; *margin-left:13.05em;
		}
		 .yui-t2 .yui-b
		{
			@include float(left);
			width:13.8461em;
		*width:13.50em;
		}
		 .yui-t2 #yui-main .yui-b { margin-left:14.8461em; *margin-left:14.55em;
		}
		 .yui-t3 .yui-b
		{
			@include float(left);
			width:23.0769em;
		*width:22.50em;
		}
		 .yui-t3 #yui-main .yui-b { margin-left:24.0769em; *margin-left:23.62em;
		}
		 .yui-t4 .yui-b
		{
			@include float(right);
			width:13.8456em;
		*width:13.50em;
		}
		 .yui-t4 #yui-main .yui-b { margin-right:14.8456em; *margin-right:14.55em;
		}
		 .yui-t5 .yui-b
		{
			@include float(right);
			width:18.4615em;
		*width:18.00em;
		}
		 .yui-t5 #yui-main .yui-b { margin-right:19.4615em; *margin-right:19.125em;
		}
		 .yui-t6 .yui-b
		{
			@include float(right);
			width:23.0769em;
		*width:22.50em;
		}
		 .yui-t6 #yui-main .yui-b { margin-right:24.0769em; *margin-right:23.62em;
		}
		 .yui-t7 #yui-main .yui-b
		{
			display:block;
			margin:0 0 1em 0;
		}
		#yui-main .yui-b
		{
			float:none;
			width:auto;
		}
		 .yui-gb .yui-u,  .yui-g .yui-gb .yui-u,  .yui-gb .yui-g,  .yui-gb .yui-gb,  .yui-gb .yui-gc,  .yui-gb .yui-gd,  .yui-gb .yui-ge,  .yui-gb .yui-gf,  .yui-gc .yui-u,  .yui-gc .yui-g,  .yui-gd .yui-u { @include float(left); }
		 .yui-g .yui-u,  .yui-g .yui-g,  .yui-g .yui-gb,  .yui-g .yui-gc,  .yui-g .yui-gd,  .yui-g .yui-ge,  .yui-g .yui-gf,  .yui-gc .yui-u,  .yui-gd .yui-g,  .yui-g .yui-gc .yui-u,  .yui-ge .yui-u,  .yui-ge .yui-g,  .yui-gf .yui-g,  .yui-gf .yui-u { @include float(right); }
		 .yui-g .first,  .yui-gb .first,  .yui-gc .first,  .yui-gd .first,  .yui-ge .first,  .yui-gf .first,  .yui-g .yui-gc .first,  .yui-g .yui-ge .first,  .yui-gc .first .first { @include float(left); }
		 .yui-g .yui-u,  .yui-g .yui-g,  .yui-g .yui-gb,  .yui-g .yui-gc,  .yui-g .yui-gd,  .yui-g .yui-ge,  .yui-g .yui-gf { width:49.1%; }
		 .yui-gb .yui-u,  .yui-g .yui-gb .yui-u,  .yui-gb .yui-g,  .yui-gb .yui-gb,  .yui-gb .yui-gc,  .yui-gb .yui-gd,  .yui-gb .yui-ge,  .yui-gb .yui-gf,  .yui-gc .yui-u,  .yui-gc .yui-g,  .yui-gd .yui-u
		{
			width:32%;
			margin-left:1.99%;
		}
		 .yui-gb .yui-u { *margin-left:1.9%;
		*width:31.9%;
		}
		 .yui-gc .first,  .yui-gd .yui-u { width:66%; }
		 .yui-gd .first { width:32%; }
		 .yui-ge .first,  .yui-gf .yui-u { width:74.2%; }
		 .yui-ge .yui-u,  .yui-gf .first { width:24%; }
		 .yui-g .yui-gb .first,  .yui-gb .first,  .yui-gc .first,  .yui-gd .first { margin-left:0; }
		 .yui-g .yui-g .yui-u,  .yui-gb .yui-g .yui-u,  .yui-gc .yui-g .yui-u,  .yui-gd .yui-g .yui-u,  .yui-ge .yui-g .yui-u,  .yui-gf .yui-g .yui-u { width:49%; *width:48.1%;
		*margin-left:0;
		}
		 .yui-g .yui-g .yui-u { width:48.1%; }
		 .yui-g .yui-gb .first,  .yui-gb .yui-gb .first {
		*margin-right:0;
		*width:32%; _width:31.7%; }
		 .yui-g .yui-gc .first,  .yui-gd .yui-g { width:66%; }
		 .yui-gb .yui-g .first {
		*margin-right:4%; _margin-right:1.3%; }
		 .yui-gb .yui-gc .first,  .yui-gb .yui-gd .first { *margin-right:0;
		}
		 .yui-gb .yui-gb .yui-u,  .yui-gb .yui-gc .yui-u {
		*margin-left:1.8%; _margin-left:4%; }
		 .yui-g .yui-gb .yui-u { _margin-left:1.0%; }
		 .yui-gb .yui-gd .yui-u {
		*width:66%; _width:61.2%; }
		 .yui-gb .yui-gd .first {
		*width:31%; _width:29.5%; }
		 .yui-g .yui-gc .yui-u,  .yui-gb .yui-gc .yui-u
		{
			width:32%;
			_float:right;
			margin-right:0;
			_margin-left:0;
		}
		 .yui-gb .yui-gc .first { width:66%; *margin-left:0;
		}
		 .yui-gb .yui-ge .yui-u,  .yui-gb .yui-gf .yui-u { margin:0; }
		 .yui-gb .yui-gb .yui-u { _margin-left:.7%; }
		 .yui-gb .yui-g .first,  .yui-gb .yui-gb .first { *margin-left:0;
		}
		 .yui-gc .yui-g .yui-u,  .yui-gd .yui-g .yui-u { *width:48.1%;
		*margin-left:0;
		}
		 .yui-gb .yui-gd .first { width:32%; }
		 .yui-g .yui-gd .first { _width:29.9%; }
		 .yui-ge .yui-g { width:24%; }
		 .yui-gf .yui-g { width:74.2%; }
		 .yui-gb .yui-ge .yui-u,  .yui-gb .yui-gf .yui-u { @include float(right); }
		 .yui-gb .yui-ge .first,  .yui-gb .yui-gf .first { @include float(left); }
		 .yui-gb .yui-ge .yui-u,  .yui-gb .yui-gf .first {
		*width:24%; _width:20%; }
		 .yui-gb .yui-ge .first,  .yui-gb .yui-gf .yui-u {
		*width:73.5%; _width:65.5%; }
		 .yui-ge .first .yui-gd .yui-u { width:65%; }
		 .yui-ge .first .yui-gd .first { width:32%; }
		 #hd:after,  #bd:after,  #ft:after,  .yui-g:after,  .yui-gb:after,  .yui-gc:after,  .yui-gd:after,  .yui-ge:after,  .yui-gf:after
		{
			content:".";
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
		}
		 #hd,  #bd,  #ft,  .yui-g,  .yui-gb,  .yui-gc,  .yui-gd,  .yui-ge,  .yui-gf { zoom:1; }

	} // END #resume

} // end yui_core()