$legacy-support-for-ie: true;
$legacy-support-for-ie6: false;
$support-for-original-webkit-gradients: false;

$aa_mastHeight: 40px;
$aa_footHeight: 0;
// portfolio
$primaryHPad: 40px;
$primaryVPad: 40px;
$sidebarWidth: 190px;
// grid
$masonryHPad: 25px;
$masonryVPad: 20px;
// single
$articleHPad: 15px;
$articleVPad: 40px;

// headings
$aa_h1_fontSize: 2em;
$aa_h2_fontSize: 1.9em;

// media sizes
$aa_media_widthMax:			1920px;
$aa_media_widthLg:			1024px;
$aa_media_widthMed:			550px;
$aa_media_widthThumb:		230px;
$aa_media_heightThumb:	170px;
$aa_media_widthThumbSm: 50px;

$folioImgWidth: $aa_media_widthMed;

// media filename suffixes
$aa_mediaSuffix_medium: "-med";
$aa_mediaSuffix_large:	"-lg";
$aa_mediaSuffix_thumb:	"-thumb";
$aa_mediaSuffix_small:	"-thumb_sm";

// REQUIRES: @import "compass/css3/text-shadow"
$default-text-shadow-color: #f2f2f2;
$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 0;
// END compass/css3/text-shadow
$experimental-support-for-svg: true;
