/* Content */
#content {
	padding-bottom: 0 !important;
}
/* fix any static widths */
#bg-line, #masthead { display: none !important; }
#masthead, #contentWrap, #footer {
	min-width: auto;
}
/* use the sidebar as our main nav */
#sidebar {
	position: absolute;
	top: 0;
	width: 100%;
}
#sidebar .sgr-custom-taxonomies-menu, 
#footer { display: none !important; }

.archive #primary, .page.page-template-template-portfolio-php #primary,
.archive .hentry, .page.page-template-template-portfolio-php .hentry { margin-left: 0 !important;}