/* iOS all */

/* Content */
#content {
    padding-bottom: 0 !important;
		background-image: none;
}
/* fix any static widths */
#bg-line, #masthead, #footer .copyright, #back-to-top { display: none !important; }
#masthead, #contentWrap, #footer {
    min-width: auto;
    width: 100%;
}
#footer {
    background-image: none;
}
#footer .nav #menu-item-16,
#footer .nav #menu-item-19, #footer .nav #menu-item-20 { display: none; }
.aafolio #footerNav {
    right: auto;
    left: 0;
}
#footer .nav ul { 
    float: left !important; 
    width: 100% !important;
}
#footer .nav a {
	padding: 7px 18px 3px 18px;
}
/* use the sidebar as our main nav */
#sidebar {
    position: absolute;
    top: 0;
		margin-top: 0 !important;
    width: 100%;
}
#sidebar .sgr-custom-taxonomies-menu, 
#footer, #bg-line, #masthead { display: none !important; }
.tax-skill-type #primary, .page.page-template-template-portfolio-php #primary {
    margin-left: 0;
}
/*#logo a img { visibility: hidden; }  will be revealed via .js */
#container { top: 0; }
.archive #primary, .page.page-template-template-portfolio-php #primary,
.archive .hentry, .page.page-template-template-portfolio-php .hentry { margin-left: 0 !important;}
#primary, .single #primary, .page #primary { margin-left: 0; margin-top: 90px; }
#sidebar .widget {
    float: left;
    margin-top: -20px;
}
#sidebar .widget-title { display: none; }
#filter {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    float: left;
}
#filter li {
    display: block;
    float: left;
    padding: 2px 5px;
}

/*  iOS Media Queries */

/* ---------------------------------------------- iPhone -------------------------------------- */

/* iPhone v(4,4S) portrait */
@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  
} /* END iPhone v(4,4S) portrait */

/* iPhone v(4/4S) landscape */
@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  
} /* END iPhone v(4/4S) landscape */

/* iPhone v(*) portrait */
@media all and (max-device-width: 480px) and (orientation: portrait)  {
  
	#content {
  	padding-left: 18px;
		padding-right: 18px;
  }
	#sidebar { padding-left: 18px; }
	#sidebar #logo { margin-left: 18px; }

} /* END iPhone v(*) portrait */

/* iPhone v(*) landscape */
@media all and (max-device-width: 480px) and (orientation: landscape)  {

  #content {
		padding-left: 98px;
		padding-right: 98px;
	}
		.single #content {
			padding-left: 18px;
			padding-right: 18px;
		}

	#sidebar {
		padding-left: 98px;
	}
		.single #sidebar { padding-left: 18px; }

	#sidebar #logo {
		margin-left: 40px;
	}
		.single #sidebar #logo { margin-left: 18px; }

} /* END iPhone v(*) landscape */

/* ---------------------------------------------- iPad -------------------------------------- */

/* iPad portrait */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  #content {
  	padding-left: 18px;
		padding-right: 18px;
  }
	#sidebar { padding-left: 18px; }
	#sidebar #logo { margin-left: 18px; }

} /* END iPad portrait */

/* iPad landscape */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  #content {
		padding-left: 98px;
		padding-right: 98px;
	}
		.single #content {
			padding-left: 18px;
			padding-right: 18px;
		}

	#sidebar {
		padding-left: 98px;
	}
		.single #sidebar { padding-left: 18px; }

	#sidebar #logo {
		margin-left: 40px;
	}
		.single #sidebar #logo { margin-left: 18px; }

} /* END iPad landscape */