#container, #content, #primary, .masonry {
	margin: 0;
	padding: 0;
	position: relative; // MUST remain here for masonry to work.
	list-style: none;
}

#container {
	$clearTheMasthead: ($baseLineHeight + $aa_mastHeight);
	margin-top: $clearTheMasthead + $masonryHPad;
	line-height: ($aa_mastHeight - 4);
} // END #container

.navbar-fixed-top {
	
	.brand {
		line-height: 36px;
		height: 40px;
	}
} // END .navbar-fixed-top

.line {  
	position: relative;
	@include float(left);
	width: 100%;
	left: 0;
	
	&.vert {
		width: 0;
		padding: 0;
		margin: 0 1em;
	}
}

// #primary wraps around .masonry, and is within a row-fluid
#primary {

	.page-template-template-full-width-php & { float: none; }

//	.breadcrumb {
//		height: 2.3em;
//		margin: 0 0 22px 25px;
//
//		&, li {
//			list-style-type: none;
//			padding: 0;
//			margin: 0;
//			@include float(left);
//		}
//		li {
//			padding: 0 .5em 0 0;
//			&:first-child { padding-left: 0; }
//
//			a { 
//				display: block;
//				padding: 0 0 0 0;
//				&:after {
//					color: lighten($gray, 50%);
//					font-family: "FontAwesome";
//					content: $icon-chevron-right;
//					margin-left: .5em;
//					text-decoration: none !important;
//				}
//			}
//		}
//	} // END .breadcrumb

	.masonry-brick .entry-meta, .footer .entry-meta, .like-count, .published {
		.icon {
			margin-right: 4px;

			& + span {
				float: left;
			}
			&:before { 
				font-size: 1.3em; 
			}

		} // END .icon
	}

	.masonry {
	// progressively reveal this so the animations don't look wierd
	// only if browser handles javascript.

		.js.opacity & {
			// browser supports opacity
			@include transparent;
			// reveal
			&.transReady {
				@include opacity(1.0); 
			}
		} // end opacity
		.js.no-opacity & {
			// no opacity support
			display: none;
			// reveal
			&.transReady {
				display: block;
			}
		} // end no opacity

		// enable css transitions
		&.transReady {
			@include transition-property("height, width, opacity");
		} // end css transitions
	
	// END progressive revealing of .masonry opacity

		&, .masonry-brick, .masonry-brick .wellOverlay {
			@include transition-duration(0.7s);
		}
		.masonry-brick {
			margin: 0 0 $masonryVPad $masonryHPad;

			&, .wellOverlay{
				@include transition-property(all);
				//@include transition-property("left, right, top");
				@include min-width($aa_media_widthThumb);
				max-width: $aa_media_widthThumb;
				@include min-height($aa_media_heightThumb + 84);
				max-height: ($aa_media_heightThumb + 84);
				padding: 0;
			}

			.wellOverlay { 
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}

			.wellOverlay, figcaption, footer, .footer {
				cursor: pointer;
			}

			figcaption, .figcaption, footer, .footer {
				position: absolute;
				z-index: 1;
			}
			footer, .footer {
				bottom: 0;
				left: 0;
				width: 96.4%;
				padding: 0 2%;
				overflow: hidden;
			}

		}

	} // END .masonry

} // END #primary

.single {

	#container, #content, #primary { padding: 0; position: inherit; }

	// primary section & article
	#primary {
		/* no left sidebar on .single pages */
		$primaryHpad_single: 5%;
		$sliderDivider: ($primaryHPad / 2); // space between image and caption / meta 


		// primary .single page header that spans the entire top area below mast
		& > header, & > .header {
			//width: auto;
			padding-top: $primaryVPad / 2;
			height: $primaryVPad;
			line-height: $primaryVPad;
			position: absolute;
			display: none;
			nav, .nav {
				@include float(left);
				position: relative;
				left: 0;
				top: 0;
			}
		}

		// slider image area
		.slider {
			position: relative; // so that the thumbnail pagination can be easily positioned

			&, .slides_container { @include min-height(300px); }

			/* jQuery "slides" thumbnail pagination */
			.pagination.thumbs {
				margin: 0;
				padding: 10px 12px 20px 10px;
				position: relative;
				left: auto;
				top: -44px;
				@include min-height($aa_media_widthThumbSm);
				height: auto;
				width: auto;

				li {
					@include float(left);
					margin: 0 0 0 3px;

					// css transitions
					&, a, a > img {
						@include transition-property(all);
						@include transition-duration(0.7s);
					}

					a {
						@include opacity(0.25);
						padding: .3em;
						display: block;	
						width: $aa_media_widthThumbSm;
						height: $aa_media_widthThumbSm;
						background: transparent none;
						text-decoration: none;
						//@include border-radius(2px, 2px);
						border: 0 none;
					} // END .single .pagination li a

					&.current a {
						@include opacity(1.0);
					}

				} // END .single .pagination li

			} // END .single .pagination

			// give the portfolio item some breathing room...
			$stagePad: 3.3em;

			.slideStage { 
				padding: 0 $stagePad; 

				.prev, .next {
					display: none;
				}
			} 

			// vertical layout when there is a lot of screen width to work with
			// TODO: dynamically add/remove the .vert class based on the responsive conditions in the browser.
			&.vert {
				.pagination.thumbs {
					@include stretch-y($aa_mastHeight,0); 
					width: $aa_media_widthThumbSm;
					left: -($stagePad / 1.5);
					top: 0;
					z-index: 99;
				}
				
				.slideStage {
					padding: 0 $stagePad 0 ($stagePad * 2);
				}
			}
			
			.slides_control, .slides_control .lightbox { width: 100% !important; } // adaptive image sizing
			.slides_control { height: auto !important; }
			.slides_control .lightbox { position: relative !important; } // override slides.js (wants to make this absolute really really bad)

			/* jQuery "slider" captions */
			.caption { 
				font-size: 14px;
				font-weight: bold;
				line-height: 1.6 !important; 

				a { display: inline; }

			} // END .slider .caption
		} // END article .slider	

		// content area beneath slider (currently blank)
		.entry-content { 
			display: none;
		} // END .entry-content

		// sidebar (where content / meta for each portfolio piece lives)
		#single-sidebar {
			z-index: 99;
			@include stretch-y($aa_mastHeight,0); 
			// the stretch-y compass method above creates absolute position... 
			// so we need to align it how we want our fluid layout to respond when screen size changes.
			left: auto;
			right: 0;

			& > div, & > header, & > footer, & > span, & > ul, & > p {
				width: auto;
				padding: 0 1.4em;
			}
			& > header, & > .header {
				padding-top: 1.4em;
			}
			& > footer, & > .footer {
				padding-bottom: 1.4em;
			}

			// formatting for any <ul> elem in the #single sidebar
			ul { margin: 0; padding: 0; }
			.seperator { margin: ($articleVPad / 4) 0; }

			// header is where the_content() and the_title() live on .single posts.
			header, .header {
					
				h1, .h1 {
					font-size: $aa_h1_fontSize;
					font-weight: bold;
					letter-spacing: -.1ex;
					line-height: 1.1;
					margin-bottom: ($aa_h1_fontSize / 9);
				}

				ul.entry-header {
					
					.like-count, .published {
						float: left;
						position: relative;

						&, span {
							line-height: 2em;

							.icon {
								margin-right: 6px; // separate text from icon
							}
						}
						
						.js & {
							// .js will reveal it
							//visibility: hidden;
						}
					} // END #single-sidebar > .like-count, .published

					// vertical divider between two <li> elems floating next to one another
					.line.vert {
						height: 2em;
						@include opacity(.5);
					}

					.caption {
						// the_content()
						clear: both;
						padding: 1em 0;
					} // end #single-sidebar .caption

				} // END .single #single-sidebar header ul.entry-header
			} // END .single #single-sidebar header, .header	

			// footer is where the bulleted taxonomy lists live on .single posts.
			footer, .footer {

			}

		} // END .single #single-sidebar
	} // END .single #primary section & article
} // END .single


/* adaptive images */
.single #primary, .masonry article, .masonry .article {
	// images within these containers, we want to scale to the size of their containers.
	img, object, .wp-caption { 
		max-width: 100% !important; 
		width: 100% !important; 
		//height: 100% !important;
		//max-height: 100% !important;
	}

	.js & {
		// js is enabled
		.lightbox > img {
			max-width: auto !important;
			width: auto !important;
			// height attr is set automatically to not get chopped off by the browser window
			// done by js in gridlocked-custom.js
		}
	}

}

/* MEDIA QUERIES ----------------------------------------------------- */
	/* ALL DEVICES ----------------------------------------------------- */

	// UP TO LANDSCAPE PHONE
	// ---------------------
		@media (max-width : 480px) { 
	
		} /* UP TO LANDSCAPE PHONE */
 
	// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
	// --------------------------------------------------
		@media (max-width : 767px) { 
			
			.single {
				
				#primary {

					#single-sidebar {
					
						z-index: 99;
						background: rgba(120,120,120,.1);
						@include single-box-shadow(rgba(120,120,120,.6), 3px, 0, 8px, 0, inset );
						//@include stretch-y($aa_mastHeight,0); 
						position: relative;
						// the stretch-y compass method above creates absolute position... 
						// so we need to align it how we want our fluid layout to respond when screen size changes.
						left: auto;
						right: 0;

	//					& > div, & > header, & > footer, & > span, & > ul, & > p {
	//						width: auto;
	//						padding: 0 1.4em;
	//					}
	//					& > header, & > .header {
	//						padding-top: 1.4em;
	//					}
	//					& > footer, & > .footer {
	//						padding-bottom: 1.4em;
	//					}
	//
	//					// formatting for any <ul> elem in the #single sidebar
	//					ul { margin: 0; padding: 0; }
	//					.seperator { margin: ($articleVPad / 4) 0; }
	//
	//					// header is where the_content() and the_title() live on .single posts.
	//					header, .header {
	//					
	//						h1, .h1 {
	//							font-size: $aa_h1_fontSize;
	//							font-weight: bold;
	//							letter-spacing: -.1ex;
	//							line-height: 1.1;
	//							margin-bottom: ($aa_h1_fontSize / 9);
	//						}
	//
	//						ul.entry-header {
	//					
	//							.like-count, .published {
	//								float: left;
	//								position: relative;
	//
	//								&, span {
	//									line-height: 2em;
	//
	//									.icon {
	//										margin-right: 6px; // separate text from icon
	//									}
	//								}
	//						
	//								.js & {
	//									// .js will reveal it
	//									//visibility: hidden;
	//								}
	//							} // END #single-sidebar > .like-count, .published
	//
	//							// vertical divider between two <li> elems floating next to one another
	//							.line.vert {
	//								height: 2em;
	//								@include opacity(.5);
	//							}
	//
	//							.caption {
	//								// the_content()
	//								clear: both;
	//								padding: 1em 0;
	//							} // end #single-sidebar .caption
	//
	//						} // END .single #single-sidebar header ul.entry-header
	//					} // END .single #single-sidebar header, .header	
	//
	//					// footer is where the bulleted taxonomy lists live on .single posts.
	//					footer, .footer {
	//
	//					}

						header, .header {
						
							h1 {
								$h1_fontSize: $aa_h1_fontSize - .2; 
								font-size: $h1_fontSize;
								margin-bottom: ($h1_fontSize / 9);
							} // END .single #single-sidebar header h1
						} // END .single #single-sidebar header
					} // END .single #single-sidebar

				} // END #primary
			} // END .single

		//////////////////////////////////////////////////////////////
		} /* END LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET */
 
	// PORTRAIT TABLET TO DEFAULT DESKTOP
	// ----------------------------------
		@media (min-width : 768px) and (max-width : 979px) { 
		
		//////////////////////////////////////////////////////////////
		} /* END PORTRAIT TABLET TO DEFAULT DESKTOP */

	// LANDSCAPE TABLETS AND BELOW
	// -----------------
		@media (max-width : 979px) {

		//////////////////////////////////////////////////////////////
		} /* END LANDSCAPE TABLETS AND BELOW */

	// DEFAULT DESKTOP
	// ---------------
		@media (min-width : 980px) {

		//////////////////////////////////////////////////////////////
		} /* END DEFAULT DESKTOP */

	// LARGE DESKTOP & UP
	// ------------------
		@media (min-width : 1200px) {
	
		//////////////////////////////////////////////////////////////
		} /* END LARGE DESKTOP & UP */

	/* END ALL DEVICES ------------------------------------------------- */
		
	// iPads
	// ------------------
		@media only screen 
		and (min-device-width : 768px)
		and (max-device-width : 1024px) {
	
		//////////////////////////////////////////////////////////////
		} /* END iPads */

	// iPhones
	// ------------------
		@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px) {

		//////////////////////////////////////////////////////////////
		} /* END iPhones */

	// Apple Retina Displays (iPhone 4+, iPad 3+)
	// ------------------
		@media
		only screen and (-webkit-min-device-pixel-ratio : 1.5),
		only screen and (min-device-pixel-ratio : 1.5) {

		//////////////////////////////////////////////////////////////
		} /* END Apple Retina Displays */

	/* MOBILE DEVICES -------------------------------------------------- */

	/* END MOBILE DEVICES ---------------------------------------------- */
/* END MEDIA QUERIES ----------------------------------------------------- */


@mixin old_sidebar_styles {
	
	#sidebar {
		position: fixed;
		z-index: 500;
		left: 0;
		margin: 21px 0 0 0;
		width: $sidebarWidth;

		.chrome &, .safari & { margin-top: 46px; }
		.widget {
			$widgetIndent: 20px;
			position: relative;
			width: $sidebarWidth - $widgetIndent;
			left: $widgetIndent;
			top: -6px;
		} // END #sidebar .widget
		.entry-meta { 
			padding: 5px 15px;
		}
		#logo { 
			margin-left: 0; 

			h1 {
				display: block;
				width: auto;
				font-size: 11px;
				text-align: center;
				text-indent: 18px;
			}
		} // END #sidebar #logo
	} // END #sidebar

}