//------ ALL DIMENSIONS
// global
$aa_mastHeight: 80px;
$aa_footHeight: 35px;
	// portfolio
	$primaryHPad: 40px;
	$primaryVPad: 40px;
	$sidebarWidth: 190px;
	// grid
	$masonryHPad: 25px;
	$masonryVPad: 20px;
	// single
	$articleHPad: 15px;
	$articleVPad: 40px;

	// dynamic single page media sizes
	$folioImgWidth: $aa_media_widthMed;

#container, #content, #primary, #masonry, .masoned {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	list-style: none;
}

#container {
	top: $aa_mastHeight;
} // END #container

#content {
	padding: $primaryVPad 0 0 0; // vertical spacing
} // END #content

#sidebar {
	position: fixed;
	z-index: 500;
	left: 0;
	margin: 21px 0 0 0;
	width: $sidebarWidth;

	.chrome &, .safari & { margin-top: 46px; }
	.widget {
		$widgetIndent: 20px;
		position: relative;
		width: $sidebarWidth - $widgetIndent;
		left: $widgetIndent;
		top: -6px;
	} // END #sidebar .widget
	.entry-meta { 
		padding: 5px 15px;
	}
	#logo { 
		margin-left: 0; 

		h1 {
			display: block;
			width: auto;
			font-size: 11px;
			text-align: center;
			text-indent: 18px;
		}
	} // END #sidebar #logo
} // END #sidebar

#primary {
	padding: 0 $primaryHPad 0 0;
	left: ($sidebarWidth + ($primaryHPad - $masonryHPad));

	.page-template-template-full-width-php & { float: none; }

	.breadcrumb {
		height: 2.3em;
		margin: 0 0 22px 25px;

		&, li {
			list-style-type: none;
			padding: 0;
			margin: 0;
			float: left;
		}
		li {
			padding: 0 .5em 0 0;
			&:first-child { padding-left: 0; }

			a { 
				display: block;
				padding: 0 0 0 0;
				&:after {
					color: lighten($aa_darkGray, 50%);
					font-family: "FontAwesome";
					content: $icon-chevron-right;
					margin-left: .5em;
					text-decoration: none !important;
				}
			}
		}
	} // END .breadcrumb

	.masoned {
		width: 100%;

		article, .hentry {
			@include min-width($aa_media_widthThumb);
			@include min-height($aa_media_heightThumb + 84);
			margin: 0 0 $masonryVPad $masonryHPad;
			padding: 0;
		} // END article (.hentry)

	} // END .masoned

} // END #primary

.single {
	position: relative;

	#content, #primary { padding: 0; }
	// primary section & article
	#primary {
		/* no left sidebar on .single pages */
		$primaryHpad_single: 5%;
		$sliderDivider: ($primaryHPad / 2); // space between image and caption / meta 
		left: 0;
		//padding: 0 $primaryHpad_single;
		//width: (100% - ($primaryHpad_single * 2));

		& > header, & > .header,
		.slider, #single-sidebar {
			padding: 0 $primaryHPad;
		} 
		.slider {
			padding-right: $sliderDivider;
		}
		#single-sidebar {
			padding-left: $sliderDivider;
		}

		& > header, & > .header {
			width: auto;
			padding-top: $primaryVPad / 2;
			height: $primaryVPad;
			line-height: $primaryVPad;
			position: absolute;
			display: none;
			nav, .nav {
				float: left;
				position: relative;
				left: 0;
				top: 0;
			}
		}

		article, .hentry {
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			float: left;
			position: relative;
		} // END .single article (.hentry)

		// sections within the article
		.slider, .entry-content, #single-sidebar {
			float: left;
			position: relative;
			padding-top: ($articleVPad + (($primaryVPad/2) + $primaryVPad));
		}
		// slider image area
		.slider {
			//background: rgba(100,100,100,.5);

			&, .slides_container {
				width: $folioImgWidth;
				@include min-height(300px);
			}
			.caption, .pagination {
				position: absolute;
				top: -$articleVPad;
				margin: 0;
				padding: 0; 
			}
			.caption, .pagination li a {
				font-size: 14px;
				font-weight: bold;
			}
			.caption {
				left: 0;
			}
			.pagination {
				right: $sliderDivider;
				li a {
					display: block;
					padding: 2px 8px 2px 8px;
					text-align: center;
				}
			}
		} // END article .slider	

		// content area beneath slider (currently blank)
		.entry-content { 
			display: none;
		} // END .entry-content

		// sidebar (where content / meta for each portfolio piece lives)
		#single-sidebar {
			//visibility: hidden; // js in gridlocked-custom.js will reveal
			z-index: 99;
			margin: 0;
			width: auto;
			//max-width: 325px;
			top: 0;
			left: 0;
			background: rgba(120,120,120,.1);
			@include single-box-shadow(rgba(120,120,120,.6), 3px, 0, 8px, 0, inset );

			header, .header {
					
				h1, .h1 {
					font-size: $aa_h1_fontSize;
					font-weight: bold;
					letter-spacing: -.1ex;
					line-height: 1.1;
					margin-bottom: ($aa_h1_fontSize / 9);
				}

			} // END header, .header

			ul { 
				margin: 0; 
				padding: 0; 
			}
			.seperator { margin: ($articleVPad / 4) 0; }
			// since the pic in the middle is not elastic,
			//	we'll have to use media query classes generated
			//	by head.js to determine how much width we have available.
			//------------------- specific width profiles ------------------
			.lt-1280 & {
				$ltWidth: 1280px;
					
			}
			.lt-1024 &, .lt-1024.w-1000 &, .lt-1024.w-900 & {
					
				h1, .h1 {
					$h1_fontSize: $aa_h1_fontSize - .2; 
					font-size: $h1_fontSize;
					margin-bottom: ($h1_fontSize / 9);
				}
				.caption, .link { font-size: .9em; line-height: 1.3em !important; }
				.seperator { display: none; }

			}
			.lt-1024.w-800 &, .lt-768 & {
				$ltWidth: 1024px;
				// less than 1024 wide, the sidebar will drop below the image
				clear: left;
				top: 0;
				left: 0;
				padding: ($articleVPad / 2) $articleHPad 0 $primaryHPad;
				max-width: $folioImgWidth !important;
				width: auto !important;

				h1, .h1 {
					$h1_fontSize: $aa_h1_fontSize - .4; 
					font-size: $h1_fontSize;
					margin-bottom: ($h1_fontSize / 9);
				}
				// no horizontal dividers, we're going to stack the description side-by-side
				// with the meta ul's
				.seperator { display: none; }
				header, .header, footer, .footer {
					float: left;
				}
				header, .header {
					width: 53%;
					padding-right: 7%;
					border-right: 1px solid rgba($aa_darkGray, .2);
				}
				footer, .footer { 
					width: 38%;
					padding-left: 1.9%; 
					border-left: 1px solid rgba(255, 255, 255, .9);
				}

			} // END .lt-1024

			//--END-------------- specific width profiles ------------------
				
		} // END .single #single-sidebar

		
		
	} // END .single #primary section & article

} // END .single


// Landscape phones and down
  @media (max-width: 480px) { 
	
	} /* END @media (max-width: 480px) */
 
  // Landscape phone to portrait tablet
  @media (max-width: 768px) { 
	
	} /* END @media (max-width: 768px) */
 
  // Portrait tablet to landscape and desktop
  @media (min-width: 768px) and (max-width: 980px) { 
	
	} /* @media (min-width: 768px) and (max-width: 980px) */
 
  // Large desktop
  @media (min-width: 1200px) {
	
	} /* END Large desktop */


// DEFAULT DESKTOP
// ---------------

@media (min-width: 980px) {


}




// ALL MOBILE DEVICES
// -----------------
@media (max-width: 979px) {
	
	

	/* dynamic portrait / landscape class switching
	   provided by /public/js/iOSfixedPosition.js */

	.portrait {

	} // END .portrait

	.landscape {

	} // END .landscape
  
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

	/* GLOBALLY HIDE FROM MOBILE */
	#topNav, #footer .copyright { display: none; }
	/* fix any static widths */
	#masthead, #container, #content, #footer {
		min-width: auto;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	#footer {
			background-image: none;
	}

	.aafolio #footerNav {
			right: auto;
			left: 0;
	}
	#footer .nav ul { 
			float: left !important; 
			width: 100% !important;
	}
	#footer .nav a {
		padding: 7px 18px 3px 18px;
	}
	/* use the sidebar as our main nav */
	#sidebar {
			position: absolute;
			top: 0;
			margin-top: 0 !important;
			width: 100%;
	}
	.tax-skill-type #primary, .page.page-template-template-portfolio-php #primary {
			margin-left: 0;
	}
	/*#logo a img { visibility: hidden; }  will be revealed via .js */
	#container { top: 0; }
	.archive #primary, .page.page-template-template-portfolio-php #primary,
	.archive .hentry, .page.page-template-template-portfolio-php .hentry { margin-left: 0 !important;}
	#primary, .single #primary, .page #primary { margin-left: 0; margin-top: 90px; }
	#sidebar .widget {
			float: left;
			margin-top: -20px;
	}
	#sidebar .widget-title { display: none; }
	#filter {
			padding: 0 !important;
			margin: 0 !important;
			width: 100%;
			float: left;
	}
	#filter li {
			display: block;
			float: left;
			padding: 2px 5px;
	}
	

	/* dynamic portrait / landscape class switching
	   provided by /public/js/iOSfixedPosition.js */

	.portrait {

	} // END .portrait

	.landscape {

	} // END .landscape

}


@mixin larger_mobile_sizes() {

		// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
		// --------------------------------------------------

		@media (max-width: 767px) {
		

		}



		// PORTRAIT TABLET TO DEFAULT DESKTOP
		// ----------------------------------

		@media (min-width: 768px) and (max-width: 979px) {


		}


		



		// LARGE DESKTOP & UP
		// ------------------

		@media (min-width: 1200px) {
		
			// from old aa-template.scss
			//#masthead, #contentWrap, #footer { min-width: 990px; }
		
		}

	}



	/*  iOS Media Queries */

	// from base.css
	/* iPhone */
		@media screen and (max-device-width: 480px) { 
			//html { -webkit-text-size-adjust: none; } 
			//#footer { display: none; }
		}
		/* iPad */
		@media screen and (min-device-width: 481px) and (max-device-width: 1024px) { 
			//html { -webkit-text-size-adjust: none; } 
			//#footer { display: none; }
			//#masthead, #contentWrap, #footer { min-width: 1002px; }
		}
		/* iPad portrait */
		@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { 
			//#masthead, #contentWrap { min-width: 768px; width: 768px; }
			//#topNav { width: auto; right: 0; }
			//#topNav li a { padding: 0 15px; }
			//#masthead #mastlogo { width: 294px; height: 52px; left: 25px; top: 15px; margin-right: 20px; }
			//.content, #hero, hr.contentDivider { width: 752px; }
			//.content { padding: 0 8px; left: 0; margin-left: 0; }
			//hr.contentDivider { background-position: -137px top; }
			//#hero .feature {
			//	width: 567px;
			//	height: 386px;
			//	left: 0;
			//}
			//#hero .callout {
			//	width: 185px;
			//	height: auto;
			//	left: 567px;
			//}
			//#masthead h1, #masthead h2 { display: none; }
			//.callout .large { font-size: 13px; line-height: 21px; }
			//.grid3col .column.project { width: 100%; margin-left: 0; margin-right: 0; clear: both; }
			//.project h4 { font-size: 24px; margin-top: 10px; margin-bottom: 5px; }
			//.project small { font-size: 16px; line-height: 26px; }
		}
		// END base.css

	/* ---------------------------------------------- iPhone -------------------------------------- */

	/* iPhone v(4,4S) portrait */
	@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  
	} /* END iPhone v(4,4S) portrait */

	/* iPhone v(4/4S) landscape */
	@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  
	} /* END iPhone v(4/4S) landscape */

	/* iPhone v(*) portrait */
	@media all and (max-device-width: 480px) and (orientation: portrait)  {
  
		/*#content {
  		padding-left: 18px;
			padding-right: 18px;
		}*/
		//#sidebar { padding-left: 18px; }
		//#sidebar #logo { margin-left: 18px; }

	} /* END iPhone v(*) portrait */

	/* iPhone v(*) landscape */
	@media all and (max-device-width: 480px) and (orientation: landscape)  {

		#content {
			padding-left: 98px;
			padding-right: 98px;
		}
			.single #content {
				padding-left: 18px;
				padding-right: 18px;
			}

		#sidebar {
			padding-left: 98px;
		}
			.single #sidebar { padding-left: 18px; }

		#sidebar #logo {
			margin-left: 40px;
		}
			.single #sidebar #logo { margin-left: 18px; }

	} /* END iPhone v(*) landscape */

	/* ---------------------------------------------- iPad -------------------------------------- */

	/* iPad portrait */
	@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

		#content {
  		padding-left: 18px;
			padding-right: 18px;
		}
		#sidebar { padding-left: 18px; }
		#sidebar #logo { margin-left: 18px; }

	} /* END iPad portrait */

	/* iPad landscape */
	@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

		#content {
			padding-left: 98px;
			padding-right: 98px;
		}
			.single #content {
				padding-left: 18px;
				padding-right: 18px;
			}

		#sidebar {
			padding-left: 98px;
		}
			.single #sidebar { padding-left: 18px; }

		#sidebar #logo {
			margin-left: 40px;
		}
			.single #sidebar #logo { margin-left: 18px; }

	} /* END iPad landscape */

