$clearTheMasthead: ($navbarHeight + $wp_masonry-hpad);
// em font size base
body > * {
	font-size: 1em;
}
// make sure block items that are within a span12 are padded
.row-fluid > .span12 > * {
	padding: 0 $fluidGridGutterWidth;
	width: 100% - ($fluidGridGutterWidth * 2);
	&[class^="span"], &.masonry, &.hentry {
		// this is another grid elment, no padding
		padding: 0;
		width: 100%;
	}
}

.entry-content {
	padding: 0 $gridGutterWidth ($gridGutterWidth + 10) $gridGutterWidth;
	.container-fluid & {
		padding: 0 0 $fluidGridGutterWidth 0;
	}
}

#container, #content, #primary, .masonry {
	margin: 0;
	padding: 0;
	position: relative; // MUST remain here for masonry to work.
	list-style: none;
}

#container {
	margin-top: $clearTheMasthead;
	//line-height: ($navbarHeight - 4);
} // END #container

.navbar-fixed-top {

	.brand {
		line-height: 36px;
		height: 40px;

	}
} // END .navbar-fixed-top

.line {
	position: relative;
	@include float(left);
	width: 100%;
	left: 0;

	&.vert {
		width: 0;
		padding: 0;
		margin: 0 1em;
	}
}

.entry-meta a { display: block; }
.entry-meta li.terms a { display: inline; }
.emptyResults p { margin: 0 0 9px 0; line-height: normal; }
.entry-meta a:hover { text-decoration: none !important; }

// #primary wraps around .masonry, and is within a row-fluid
#primary {
	@include ie7(margin-top, $clearTheMasthead); // should match #content top margin (IE7 and IE6 doesn't care about #content)
	.page-template-template-full-width-php & { float: none; }

	header {
		padding: 0 $wp_masonry-hpad $wp_masonry-hpad $wp_masonry-hpad;

		h1 {

			font-size: pxtoem($baseH1Size - 4);
			font-weight: bold;
			letter-spacing: -.1ex;
			line-height: 1.1em;
			//margin-bottom: ($baseH1Size_px / 9);
		} // END #primary header h1

	} // END #primary header

} // END #primary

.masonry-brick .entry-meta, footer .entry-meta, .like-count, .published {
	.icon {
		margin-right: 4px;

		& + span {
			float: left;
		}
		&:before {
			font-size: 1.3em;
			@include ie9(font-size, 1.1em);
		}

	} // END .icon
}

.masonry {
// progressively reveal this so the animations don't look wierd
// only if browser handles javascript.
	clear: both;
	// fallback incase all the stuff below fails to load
	@include opacity(1);
	display: block;

	.opacity & {
		// browser supports opacity
		@include transparent;
		// reveal
		&.transReady {
			@include opacity(1);
		}
	} // end opacity

	.no-opacity & {
		// no opacity support
		display: none;
		// reveal
		&.transReady {
			display: block;
		}
	} // end no opacity

	// fix for IE since the masonry elem never seems to get the transReady class added
	.scriptsuccess.opacity .ie & {
		@include opacity(1);
	}
	.scriptsuccess.no-opacity .ie & {
		display: block;
	}

	// enable css transitions
	&.transReady, .scriptsuccess & {
		@include tp_scale;
		@include tp_alpha;
	} // end css transitions

	// disable transitions on container
	&.infinite-scroll {
		@include transition-property(none);
	}

// END progressive revealing of .masonry opacity

	&, .masonry-brick, .masonry-brick .wellOverlay {
		@include trans;
	}
	.masonry-brick {

		margin: 0 0 $wp_masonry-vpad $wp_masonry-hpad;
		float: left;
		position: absolute;
		top: 100%; // so it animates from the bottom;
		@include transition-property("left, right, top");

		.post-thumb {
			padding: 0;
			margin: 0;
		}

		.post-thumb a {
			display: block;
			position: relative;
			/* so that even an image that is not 170px being used as a thumbnail will not throw off the grid view */
			min-height: $wp_media_heightThumb;
		}

		.post-thumb a,
		.post-thumb a img {
			@include float(left);
			display: block;
			width: auto;
		}

		&.hover, &.hover .wellOverlay {
			@include tp_all;
		}

		&, .wellOverlay{
			@include min-width($wp_media_widthThumb);
			max-width: $wp_media_widthThumb;
			@include min-height($wp_media_heightThumb + 84);
			max-height: ($wp_media_heightThumb + 84);
			padding: 0;
		}

		.wellOverlay {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		.wellOverlay, figcaption, footer {
			cursor: pointer;
		}

		figcaption, .figcaption, footer {
			position: absolute;
			z-index: 1;
		}
		footer {
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0;
			overflow: hidden;
		}

		@media (max-width: 480px), (max-width: 500px) { // 508 is where two columns of gridlock no longer fits

			margin-left: 0;

			.post-thumb > a, .post-thumb > a > img {
				min-width: 100%;
				max-width: 100%;
			}
			&, .wellOverlay {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				max-height: ($wp_media_heightMobileThumb + 84);
			}
			.wellOverlay {
				@include stretch-y;
			}
			figcaption, .figcaption {
				@include trans;
				@include tp_all;
				bottom: 0;
				z-index: 10;
			}
			footer { display: none; }

		} // END iPhone / mobile Media Declarations

	} // END .masonry-brick

} // END .masonry

/* Infinite Scroll loader */
$loadingImg: "loading.gif";
$loadingImgW: image-width($loadingImg);
$loadingImgH: image-height($loadingImg);

#primary #infscr-loading {
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 40%;
	bottom: 3em;
	width: 12%;
	padding: 2%;
	max-width: 200px;
	min-width: $loadingImgW;
	@include border-radius(10px);

	&> img {
		max-width: $loadingImgW !important;
		width: $loadingImgW !important;
		height: $loadingImgH !important;
	}

}

.single {

	#container, #content, #primary { padding: 0; position: inherit; }

	// primary section & article
	#primary {
		/* no left sidebar on .single pages */
		$wp_primary-hpad_single: 5%;
		$sliderDivider: ($wp_primary-hpad / 2); // space between image and caption / meta


		// primary .single page header that spans the entire top area below mast
		& > header {
			//width: auto;
			padding-top: $wp_primary-vpad / 2;
			height: $wp_primary-vpad;
			line-height: $wp_primary-vpad;
			position: absolute;
			display: none;
			nav, .nav {
				@include float(left);
				position: relative;
				left: 0;
				top: 0;
			}
		} // END #primary header

	} // END #primary

	// slider image area
	.slider {
		position: relative; // so that the thumbnail pagination can be easily positioned

		&, .slides_container { @include min-height(300px); }

		/* jQuery "slides" thumbnail pagination */
		.pagination.thumbs {
			margin: 0;
			padding: 10px 12px 20px 10px;
			position: relative;
			left: auto;
			top: -44px;
			@include min-height($wp_media_widthThumbSm);
			height: auto;
			width: auto;

			li {
				@include float(left);
				margin: 0 0 0 3px;

				// css transitions
				&, a, a > img {
					@include trans;
					@include tp_all;
				}

				a {
					padding: .3em;
					display: block;
					width: $wp_media_widthThumbSm;
					height: $wp_media_widthThumbSm;
					background: transparent none;
					text-decoration: none;
					//@include border-radius(2px, 2px);
					border: 0 none;
					@include opacity(.25);
					&:hover {
						@include opaque;
					}
				} // END .single .pagination li a
				&.opaque a {
					@include opaque;
				}

			} // END .single .pagination li

		} // END .single .pagination

		// give the portfolio item some breathing room...
		$stagePad: 3.3em;
		$stagePadNum: 3.3;

		.slideStage {
			padding: 0 $stagePad;

			.prev, .next {
				display: none;
			}
		}

		// vertical layout when there is a lot of screen width to work with
		// TODO: dynamically add/remove the .vert class based on the responsive conditions in the browser.
		&.vert {
			$pagination-hpad: 10px;
			$paginationWidth: $wp_media_widthThumbSm + $pagination-hpad;

			.pagination.thumbs {
				width: $paginationWidth;
				padding: $pagination-hpad;
				height: auto;
				left: 0;
				top: 0;
				z-index: 99;
				@include float(left);
				li {
					margin: 2px 0;
				}
			}

			.slideStage {
				$convertedEmPadding: emtopx($stagePadNum);
				position: relative;
				padding-left: $paginationWidth + ($pagination-hpad * 2) + $convertedEmPadding; // move it over the "total" width created by a 60px width and side padding

			}
		} // END .slider.vert

		.slides_control, .slides_control .lightbox { width: 100% !important; } // adaptive image sizing
		.slides_control { height: auto !important; }
		.slides_control .lightbox { position: relative !important; } // override slides.js (wants to make this absolute really really bad)

		/* jQuery "slider" captions */
		.caption {
			font-size: pxtoem(14);
			font-weight: bold;
			line-height: 1.6 !important;

			a { display: inline; }

		} // END .slider .caption
	} // END article .slider

	// content area beneath slider (currently blank)
	.entry-content {
		display: none;
	} // END .entry-content

	// sidebar (where content / meta for each portfolio piece lives)
	#single-sidebar {
		$wp_sidebarPad: pxtoem(18);
		z-index: 99;
		@include stretch-y($navbarHeight,0);
		// the stretch-y compass method above creates absolute position...
		// so we need to align it how we want our fluid layout to respond when screen size changes.
		left: auto;
		right: 0;

		& > div, & > header, & > footer, & > span, & > ul, & > p {
			width: auto;
			padding: 0 $wp_sidebarPad;
		}
		& > header {
			padding-top: $wp_sidebarPad;
		}
		& > footer {
			padding-bottom: $wp_sidebarPad;
		}

		// formatting for any <ul> elem in the #single sidebar
		ul, li { margin: 0; padding: 0; }
		li {
			@include float(left);

			&.link {
				margin-top: $wp_sidebarPad;
				line-height: 1.7;
				font-weight: bold;
			}

			&.terms {
				&, li { clear: both; }
				.cat-item { font-weight: bold; }
				.cat-item .children li { padding-left: 10px;font-weight: normal; }
			} // END #single-sidebar li.terms

			a {
				&:hover { text-decoration: none !important; }
			} // END #sigle-sidebar li a
			&:first-child a {
				&:before {
					content: "";
				}
			}

		} // END #single-sidebar li
		.seperator { margin: ($wp_article-vpad / 4) 0; }

		// header is where the_content() and the_title() live on .single posts.
		header {

			h1, .h1 {
				//font-size: $baseH1Size_px;
				font-weight: bold;
				letter-spacing: -.1ex;
				line-height: 1.1;
				margin-bottom: ($baseH1Size_px / 9);
			}

			ul.entry-header {

				.like-count, .published {
					float: left;
					position: relative;

					&, span {
						line-height: 2em;

						.icon {
							margin-right: 6px; // separate text from icon
						}
					}

				} // END #single-sidebar > .like-count, .published

				// vertical divider between two <li> elems floating next to one another
				.line.vert {
					height: 2em;
					@include opacity(50);
				}

				.caption {
					// the_content()
					clear: both;
					padding: $wp_sidebarPad 0;
				} // end #single-sidebar .caption

			} // END .single #single-sidebar header ul.entry-header
		} // END .single #single-sidebar header, .header

		// footer is where the bulleted taxonomy lists live on .single posts.
		footer {
			.terms li {
				font-size: 0.846em;
				line-height: normal;
				.widget-title {
					font-size: 1.1em;
					margin-top: ($wp_sidebarPad - 0.9em);
					line-height: normal;
				}
			}

		} // END .single #single-sidebar footer

	} // END .single #single-sidebar


	@media (max-width: 480px), (max-width: 500px) { // 508 is where two cols of gridlock no longer fit

		.slider {
			&, .slides_container { min-height: 1px !important; }
			.pagination.thumbs, .pagination.thumbs li, .pagination.thumbs li a, .pagination .thumbs li a img { display: none !important; }
			.slideStage { padding: 0 !important; }
			.lightbox img {
				width: 100% !important;
				max-width: 100% !important;
				height: auto !important;
				max-height: auto !important;
			}
			.lightbox .caption { padding: 0 3%; }
		}
		#container { min-height: 1px !important; }
		#single-sidebar { top: 0; }

	} // END iPhone / mobile Media Declarations

} // END .single


/* adaptive images */
#primary, .masonry article {
	// images within these containers, we want to scale to the size of their containers.
	img, object, .wp-caption {
		max-width: 100% !important;
		width: 100% !important;
		//height: 100% !important;
		//max-height: 100% !important;
	}

	.js & {
		// js is enabled
		.lightbox > img {
			max-width: auto !important;
			width: auto !important;
			// height attr is set automatically to not get chopped off by the browser window
			// done by js in gridlocked-custom.js
		}
	}

}

/* MEDIA QUERIES ----------------------------------------------------- */
	/* ALL DEVICES ----------------------------------------------------- */

	// UP TO LANDSCAPE PHONE
	// ---------------------
		@media (max-width : 480px) {

		} /* UP TO LANDSCAPE PHONE */

	// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
	// --------------------------------------------------
		@media (max-width : 767px) {

			.single {

				#primary {

					#single-sidebar {

						z-index: 99;
						background: rgba_ie($grayMedium,.1);
						@include single-box-shadow(rgba_ie($grayMedium,.6), 3px, 0, 8px, 0, inset );
						//@include stretch-y($navbarHeight,0);
						position: relative;
						// the stretch-y compass method above creates absolute position...
						// so we need to align it how we want our fluid layout to respond when screen size changes.
						left: auto;
						right: 0;

						header {

							h1 {
								$h1_fontSize: $baseH1Size_px - .2;
								font-size: $h1_fontSize;
								margin-bottom: ($h1_fontSize / 9);
							} // END .single #single-sidebar header h1
						} // END .single #single-sidebar header
					} // END .single #single-sidebar

				} // END #primary
			} // END .single

		//////////////////////////////////////////////////////////////
		} /* END LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET */

	// PORTRAIT TABLET TO DEFAULT DESKTOP
	// ----------------------------------
		@media (min-width : 768px) and (max-width : 979px) {

		//////////////////////////////////////////////////////////////
		} /* END PORTRAIT TABLET TO DEFAULT DESKTOP */

	// LANDSCAPE TABLETS AND BELOW
	// -----------------
		@media (max-width : 979px) {

		//////////////////////////////////////////////////////////////
		} /* END LANDSCAPE TABLETS AND BELOW */

	// DEFAULT DESKTOP
	// ---------------
		@media (min-width : 980px) {

		//////////////////////////////////////////////////////////////
		} /* END DEFAULT DESKTOP */

	// LARGE DESKTOP & UP
	// ------------------
		@media (min-width : 1200px) {

		//////////////////////////////////////////////////////////////
		} /* END LARGE DESKTOP & UP */

	/* END ALL DEVICES ------------------------------------------------- */

	// iPads
	// ------------------
		@media only screen
		and (min-device-width : 768px)
		and (max-device-width : 1024px) {

		//////////////////////////////////////////////////////////////
		} /* END iPads */

	// iPhones
	// ------------------
		@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px) {

		//////////////////////////////////////////////////////////////
		} /* END iPhones */

	// Apple Retina Displays (iPhone 4+, iPad 3+)
	// ------------------
		@media
		only screen and (-webkit-min-device-pixel-ratio : 1.5),
		only screen and (min-device-pixel-ratio : 1.5) {

		//////////////////////////////////////////////////////////////
		} /* END Apple Retina Displays */

	/* MOBILE DEVICES -------------------------------------------------- */

	/* END MOBILE DEVICES ---------------------------------------------- */
/* END MEDIA QUERIES ----------------------------------------------------- */


@mixin old_sidebar_styles {

	#sidebar {
		position: fixed;
		z-index: 500;
		left: 0;
		margin: 21px 0 0 0;
		width: $wp_sidebar-width;

		.chrome &, .safari & { margin-top: 46px; }
		.widget {
			$widgetIndent: 20px;
			position: relative;
			width: $wp_sidebar-width - $widgetIndent;
			left: $widgetIndent;
			top: -6px;
		} // END #sidebar .widget
		.entry-meta {
			padding: 5px 15px;
		}
		#logo {
			margin-left: 0;

			h1 {
				display: block;
				width: auto;
				font-size: 0.846em;
				text-align: center;
				text-indent: 18px;
			}
		} // END #sidebar #logo
	} // END #sidebar

}